
.for-sale-filter-container {
  padding: 20px;
  margin: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.1) ;
}

.for-sale-filter-container label {
  color: #711DB0; 
  padding: 5px;
} 
  
.for-sale-filter-container > div {
  margin-right: 20px; 
  margin-bottom: 20px; 
}


.for-sale-filter-container select {
  width: calc(100% - 10px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
}

/* Button styling */
.for-sale-filter-container button { 
  background-color:#C21292;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 16.5px;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  transition-duration: 0.4s;
}
  
.for-sale-filter-container button:hover {
  background-color: #FFA732;
  color: black;
}



