.property-list {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
.property-list-title {
  color: #C21292;
  padding: 30px; 
  text-align: center;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }

