.brandName {
color: #711DB0;
font-size: 36px; /* Adjust size as needed */
font-weight:lighter;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 30px; 
}